<!DOCTYPE html>
<html lang="utf-8">
<head>
    <meta charset="UTF-8">
    <title>新建班级</title>
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
    <style type="text/css">
        .layui-form {
            padding: 10px 10px 0 0;
        }

        input[name='className']{
            width: 200px;
            margin-right: 10px;
        }

    </style>
</head>
<body>
<div class="layui-form">
    <label class="layui-form-label">班级名称</label>
    <input type="text" class="layui-input layui-input-inline" name="className" autocomplete="off" placeholder="请输入班级名称">
    <input type="button" class="layui-btn layui-inline"  name="submitInsertClass" value="提交">
</div>
<script type="text/javascript" data-main="js/teacher_insertClass" src="js/lib/require.js" charset="utf-8"></script>
</body>
</html>