<!DOCTYPE html>
<html lang="utf-8">
<head>
    <meta charset="UTF-8">
    <title>添加平时成绩</title>
    <link rel="stylesheet" href="layui/css/layui.css" media="all">
</head>
<body>
<div id="contentBody">
    <table class="layui-hide" id="selectStudentInfos" lay-filter="selectStudentInfos"></table>
    <script type="text/html" id="selectStudentInfosRowBar">
        <a class="layui-btn layui-btn-xs" lay-event="do">选择</a>
    </script>
</div>
<script type="text/javascript" data-main="js/teacher_insertUsualPerformance" src="js/lib/require.js" charset="utf-8"></script>
</body>
</html>